GATEWAY_DEFAULT_TIMEOUT_MS=1500
GATEWAY_FORCE_FALLBACK=false
SECURITY_ENABLED=true
SECURITY_GATEWAY_URL=http://127.0.0.1:8003
SECURITY_TIMEOUT_MS=800
NEWS_API_URL=http://127.0.0.1:8000
FRAUD_API_URL=http://127.0.0.1:8001
INSIGHT_RISK_THRESHOLD=50
INSIGHT_TIMEOUT_MS=3000
